<template >
  <div>
    <div v-if="this.photos.length != 0">
      <div style="height: 400px" >
        <img
          src="./assets/Arrow-right.png"
          alt=""
          style="width: 30px; margin-bottom: 150px; margin-right: 15px"
          v-show="this.currentImage != 0"
          @click="prevImage"
        />
        <div id="photo_block" style="display:inline-block; height:400px; position: relative">
          <img
            :src="this.photos[this.currentImage].image"
            :alt="this.photos[this.currentImage].image"
            id="select"
          />
          <input type="button" value="Delete" style="position: absolute; display: none; bottom:0%; right:0%; background-color:#252525; color: white" @click="delPhoto" />
        </div>
        <img
          src="./assets/Arrow-left.png"
          style="width: 30px; margin-bottom: 150px; margin-left: 15px"
          v-show="this.currentImage + 1 != this.photos.length"
          @click="nextImage"
        />
      </div>
      <div style="position: relative;">
        <img
          src="./assets/Arrow-right.png"
          alt=""
          style="width: 10px; position: absolute; left: 23%; top: 30px"
          @click="prevPage"
          v-if="this.currentPage != 1"
        />
        <ul
          style="
            list-style-type: none;
            margin-right: 30px;
            display: inline-block;
          "
        >
          <li
            v-for="photo in this.photos.slice(
              this.currentPage - 1,
              this.currentPage + 8
            )"
            :key="photo.id"
            style="width: 100px; display: inline; margin-right: 10px"
          >
            <img
              :id="photo.id"
              :src="photo.image"
              style="height: 40px; filter: brightness(50%)"
              @click="changeImage"
            />
          </li>
        </ul>
        <img
          src="./assets/Arrow-left.png"
          alt=""
          style="
            width: 10px;
            margin-bottom: 12px;
            position: absolute;
            right: 290px;
            top: 30px;
          "
          v-if="this.currentPage != this.pages"
          @click="nextPage"
        />
      </div>
    </div>
    <div v-if="this.pages > 0">
      <p>{{ this.currentPage }} of {{ this.pages }}</p>
    </div>
    <div>
      <input
        type="button"
        value="Upload new Image"
        onclick="document.getElementById('file').click();"
        style="margin-right: 25px"
      />
      <input
        type="file"
        @change="addPhoto"
        value="Upload new Image"
        name=""
        id="file"
        style="display: none"
      />
      <input
        type="button"
        @click="addPhotoFlickr"
        value="Upload from Flickr"
        name=""
        id=""
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "gallery",
  props: {
    photos: {
      Type: Array,
      require: true,
    },
  },
  data() {
    return {
      currentImage: 0,
      pages: 0,
      currentPage: 1,
    };
  },
  methods: {
    addPhoto({ target }) {
      let reader = new FileReader();
      reader.onloadend = () => {
        this.$emit("change", reader.result);
      };

      if (target.files[0]) {
        reader.readAsDataURL(target.files[0]);
      }
    },
    changeImage({ target }) {
      this.currentImage = target.id;
      target.style.filter = ""
    },
    prevImage() {
      this.currentImage -= 1;
    },
    nextImage() {
      this.currentImage += 1;
    },
    prevPage() {
      this.currentPage -= 1;
    },
    nextPage() {
      this.currentPage += 1;
    },
    addPhotoFlickr() {
      fetch(
        "https://api.flickr.com/services/rest/?method=flickr.photos.search&format=json&nojsoncallback=1&api_key"
      )
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          console.log(data);
        });
    },
    delPhoto(){
      this.photos.splice(this.currentImage, 1)
    }
  },
  computed: {

  },
  watch: {
    photos() {
      this.pages = Math.ceil(this.photos.length / 9);
    },
      currentImage(){
      console.log(this.currentImage)
      return null;
    }
  },
};
</script>

<style >
#select {
  width: 800px;
}
#select:hover {
  filter: brightness(40%);
}
#photo_block:hover > input {
  display: block !important;
  width: 70px!important;
}
input {
  background-color: #252525;
  color: white;
  height: 35px;
  width: 185px;
  border-radius: 25px;
  outline: 0;
}
input:hover {
  background-color: #464646;
}
</style>