<template>
  <div id="app">
    <gallery
      @change="addPhoto"
      :photos="photos"
    ></gallery>
    <!-- <div>
      <input type="file" @change="addPhoto" name="" id="" />
    </div> -->
  </div>
</template>

<script>
import Gallery from "./components/gallery/gallery.vue";

export default {
  name: "App",
  components: {
    Gallery,
  },
  data() {
    return {
      photos: [],
    };
  },
  methods: {
    addPhoto(image) {
      const obj = {
        image: image,
        id: this.photos.length,
      };

      this.photos.push(obj);
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
